{{ include("/VIEW_PATH/center/header.html") }}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-9 animated fadeInRight" style="width:100%">
            <div class="file-manager" style="    width: 10%;margin-bottom: 10px;">
                <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">写信</a>
            </div>
            <div class="mail-box-header">

                <form method="get" action="http://www.zi-han.net/theme/hplus/index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="搜索邮件标题，正文等">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                搜索
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    发件箱 ({{$total}})
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i>
                        </button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="刷新邮件列表"><i class="fa fa-refresh"></i> 刷新</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="标为已读"><i class="fa fa-eye"></i>
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="标为重要"><i class="fa fa-exclamation"></i>
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="标为垃圾邮件"><i class="fa fa-trash-o"></i>
                    </button>

                </div>
            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                    {{BEGIN list}}
                    <tr class="unread">
                        <td class="check-mail">
                            <input type="checkbox" class="i-checks">
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">{{$title}}</a> <span class="label label-warning pull-right">验证邮件</span>
                        </td>
                        <td class="mail-subject"><a href="mail_detail.html">{{$title}}</a>
                        </td>
                        <td class=""></td>
                        <td class="text-right mail-date">{{this::dateFormat($create_time)}}</td>
                    </tr>
                    {{END}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ include("/VIEW_PATH/center/footer.html") }}